@charset "UTF-8";

@media screen and (max-width: 992px) {
    br {
        display: none;
    }

    ::-webkit-scrollbar {
        display: none;
    }
}

@media screen and (min-width: 992px) {
    body {
        
        height: 100%;
        width: 100%;
        background-size: 300% 300%;
    } 
    
    header {
        position: sticky;
        top: -1px;
        z-index: 1;

        height: 15%;
        margin-bottom: 2%;
    }
    header h1 {
        color: var(--roxo);
        font-size: 5em;
        animation: logo 10s .6s ease-in-out reverse infinite;
    }header h1 a {
        -webkit-text-stroke-width: .5px;
        -webkit-text-stroke-color: black;
    }
    section .img_cntt {
        width: 30px;
        margin: 5px;

        top: -75px;
        background-color: black;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.707);
    }
    
    section .img_cntt:hover {
        transform: translate(-3px, -3px);
        transition: .2s, border .3s;
        width: 35px;
    }
    
    main {
        position: relative;

        display: block;

        height: 100%;
        width: 65%;
        margin-top: 5%;
        margin: auto;
    
        border-radius: 15px;
        box-shadow: 0px 0px 10px rgb(0, 0, 0);
        
    }

    #cell {
        display: none;
    }

    .games {
        position: relative;

        width: 25%;
        height: 20%;
        margin: 15px;
        left: 5%;
        overflow: hidden;
        display: inline-block;
        border-radius: 23% 3%;
        background: transparent;
    }

    .imagemGame {
        position: absolute;
        width: 102%;
        height: 102%;

        background: black center center no-repeat ;
        background-size: cover;
    }

    .imagemGame:hover {
        width: 105%;
        height: 105%;
        transform: translateY(-1px);
        transition: width .2s ease-in-out, height .2s ease-in-out;
    }    

    .nome_games{
        position: absolute;
        text-align: center;

        width: 100%;
        top: -100%;

        font-family: var(--fonte-padrao);
        background-color: var(--fundo-nome-game);
        color: var(--nome-game);

        border-radius: 0 10vmin 0 0;

        font-weight: bolder;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        font-size: 1.2em;
    }
    .nome_games:hover {
        letter-spacing: 2px;
        transition: .5s;
    }

    .ed {
        color: var(--roxo);
    }
    

    @keyframes logo {
        0% {
            transform: translateY(-2px);
            
        }
    
        25% {
            transform: translateY(12px);
            
        }
    
        50% {
            transform: translateY(-2px);
            
        }
    
        75% {
            transform: translateY(12px);
            
        }
    
        100% {
            transform: translateY(-2px);
            filter: hue-rotate(360deg);
        }
    }
    
}